<!DOCTYPE html>
<html>
<head>
	<title>Computers and New Media | YouTube Summarizer</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='Summarizer.css') }}">
</head>
<body>
	<div class="container">
        <h1>Enter YouTube Video Link</h1>
		<h2></h2>
		<form action="{{ url_for('handle_Summarizer') }}"method="post">
			<div class="form-group">
				<label for="Link">Link</label>
				<input type="text" class="form-control" name="Link" placeholder="Link" id="Link" required>
			</div>
			<input type="submit" class="btn btn-primary" value="Submit">
		</form>
		<form action="{{url_for('home') }}" method="post">
			<input type="submit" class="btn btn-primary" value="Back To Home" style="float: right; margin-top: -1cm;">
		</form>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script>
		function myFunction() {
		  window.location.href="LandingPage.html";  
		}
	  </script>
  
</body>
</html>