<!DOCTYPE html>
<html>
<head>
	<title>Computers and New Media | YouTube Summarizer</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style type="text/css">
		body {
			background-image: url('https://wallpaper-house.com/data/out/10/wallpaper2you_391889.png');
			background-size: cover;
			background-repeat: no-repeat;
		}
		.container {
			background-color: rgba(255, 255, 255, 0.748);;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0px 0px 10px #888;
			max-width: 500px;
			margin: 150px auto 0;
		}
		h1 {
			text-align: center;
			margin-bottom: 30px;
		}
	</style>
</head>
<body>
	<div class="container">
        <h1>Enter YouTube Video Link</h1>
		<h2></h2>
		<form action="{{ url_for('handle_Summarizer') }}"method="post">
			<div class="form-group">
				<label for="Link">Link</label>
				<input type="text" class="form-control" name="Link" placeholder="Link" id="Link" required>
			</div>
			<input type="submit" class="btn btn-primary" value="Submit">
			<form action="{{url_for('home') }}" method="post">
				<input type="submit" class="btn btn-primary" value="Back To Home" style="float: right;">
			</form>
		</form>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script>
		function myFunction() {
		  window.location.href="LandingPage.html";  
		}
	  </script>
  
</body>
</html>